@model TodoViewModel
@using Humanizer

@{
	ViewData["Title"] = "Manage your todo list";
} 

<!-- At the very top of the file, the  directive tells Razor which model
to expect this view to be bound to. The model is accessed through the
Model property -->


<div class="panel panel-default todo-panel">
	<div class="panel-heading">@ViewData["Title"]</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<td>&#x2714;</td>
				<td>Item</td>
				<td>Due</td>
			</tr>
		</thead>
			@foreach (var item in Model.Items) //Foreach loop to iterate over all todo items
			{
			<tr>
				<td>
					<form asp-action="MarkDone" method="POST">
						<input type="checkbox" class="done-checkbox">
						<input type="hidden" name="id" value="@item.Id"> 
					</form>
				</td>
				<td>@item.Title</td>
				<td>@item.DueAt.Humanize()</td>
			</tr>
			<!--The above line (item.ID) gets item ID so controller knows which item was checked.
				See wwwroot\JS\Site.js
			-->


			}
	</table>
	<div class="panel-footer add-item-form">
		@await Html.PartialAsync("AddItemPartial", new TodoItem())
	</div>
</div>